<template>
  <div id="app"></div>
</template>

<script>
import gql from "graphql-tag";
export default {
  name: "App",

  data() {
    return {
      id: null,
      firstName: "",
      lastName: "",
      email: "",
    };
  },
  components: {
    HelloWorld,
    apollo: {
      customers: gql`
        query {
          customers {
            id
            generalInformation {
              purposeOfBusiness
            }
            contactData {
              phone
              email
              countryResidence
              mailbox
              houseNo
              zip
              city
            }
            financialData {
              taxNo
              countryTaxation
              refBankIban
              StringrefBankBic
              refBankIban
            }
          }
        }
      `,
    },
  },
  methods:{
    createCustomer({generalInformation:{
      purposeOfBusiness},contactData:{
              phone,
              email,
              countryResidence,
              mailbox,
              houseNo,
              zip,
              city
      }, financialData:{
             taxNo,
              countryTaxation,
              refBankIban,
              StringrefBankBic,
              refBankIban
      }


      }){
         this.$apollo.mutate({
           mutation: gql`mutation{
  addCustomer(
    generalInformation:
    {
    purposeOfBusiness:"generalInformation.purposeOfBusiness"
    }, 
    contactData:{
      phone:"contactData.phone",
      email:"contactData.email",
      countryResidence:"contactData.countryResidence",
      mailbox:"contactData.mailbox",
      houseNo:"contactData.houseNo",
      zip:"contactData.zip",
      city:"contactData.city"
    },
    financialData:{
      taxNo:"financialData.taxNo",
      countryTaxation:"financialData.countryTaxation",
      refBankIban:"financialData.refBankIban",
      StringrefBankBic:"financialData.StringrefBankBic",
      refBankAccOwner:"refBankAccOwner.refBankAccOwner"
    }){
    generalInformation{
      purposeOfBusiness
    },
    
    contactData{
      phone,
      email,
      countryResidence,
      mailbox,
      houseNo,
      zip,
      city
      
    },
    
    financialData{
      taxNo,
      countryTaxation,
      refBankIban,
      StringrefBankBic,
      refBankAccOwner
      
      
    }}`

         })
      }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
